@use '../variables' as variables

@mixin input()
    width: 100%
    height: variables.$input-height

    padding: variables.$input-padding

    border: variables.$input-border
    border-radius: variables.$input-border-radius

    font-size: variables.$input-font-size
    color: #333

    transition: .3s
