html
    font-size: 14px

body
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
    font-weight: 400
    -webkit-font-smoothing: antialiased
    -webkit-tap-highlight-color: transparent

h1,h2,h3,h4,h5,h6,
span,
input,
label,
p
    font-family: inherit
    font-size: inherit
    font-weight: inherit
    color: var(--text-color)

button
    p, span, label
        color: white

h3
    font-size: 1.5rem
