@forward './core'

:root
    --input-height: #{$input-height}
    --meny-background: #3d9ad1

    --scroll-color: red()
    --scroll-color-hover:           #{$scroll-color-hover}
    --scroll-background:            #{$scroll-background}
    --input-border-radius:          #{$input-border-radius}
    --input-border-color:           #{$input-border-color}
    --input-border:                 #{$input-border}
    --blue-button-background:       #{$blue-button-background}
    --blue-button-background-hover: #{$blue-button-backgroun-hover}

.base-input
    @include input()
