@use "abstracts"
@use "base"
@use "themes"

:root[data-theme="light"]
    @include abstracts.create-theme(themes.$theme-light)


:root[data-theme="dark"]
    @include abstracts.create-theme(themes.$theme-dark)
html, body
    height: 100vh

body,
button,
input,
textarea,
select,
table,
th,
td,
a,
div
    transition: background-color .5s ease, color .5s ease, border-color .5s ease, box-shadow .5s ease


.my-class
    display: flex
    background: red

