@forward './core'

:root
    --input-height: #{$input-height}
    --meny-background: #3d9ad1

    --scroll-color: red()
    --scroll-color-hover: #{$scroll-color-hover}
    --scroll-background: #{$scroll-background}
    --input-border-color: #{$input-border-color}

.base-input
    @include input()

.exit-right
    @apply transition-all duration-500 ease-in-out opacity-0 translate-x-full pointer-events-none;



//     gap >
// img <
// date bottom
// input msg < [50px?]
// buttons send up < [35 45px ? p?]

// gap between friends >

// start scroll in bottom

// padding in message text >






    // <div
    // class="h-fit w-full flex flex-col mb-[8px]!"
    // :class="current_user.id === message.sender_id ? 'items-end' : 'items-start'">
    //     <!-- файлы -->
    //     <template v-for="file in files" :key="file.url">

            // <!-- контейнер картинки -->
            // <div
            // v-if="file.isImage"
            // class="relative group w-[256px] mb-1!">

            //     <img
            //     :src="file.url"
            //     class="rounded-xl w-full"/>

            //     <div
            //     class="absolute bottom-2 right-2
            //     flex items-center gap-1
            //     bg-black/60 text-white
            //     pl-1! pr-2! py-1! rounded-lg
            //     text-xs w-fit
            //     opacity-0 group-hover:opacity-100
            //     transition duration-200"
            //     :class="current_user.id === message.sender_id ? 'left-2' : 'right-2'">

            //         <Ico
            //         v-if="current_user.id === message.sender_id"
            //         type="faCheckDouble"
            //         class="h-[1lh]! w-[20px]!"
            //         :class="message.readed ? 'text-blue-400' : 'text-gray-300'"/>
            //         <span>
            //             {{ date_created_at }}
            //         </span>
            //     </div>
            // </div>

    //         <!-- файл -->
    //         <a
    //         v-else
    //         :href="file.url"
    //         :download="file.name"
    //         class="flex flex-col group h-fit! gap-2 w-fit mb-1!">
    //             <div class="flex justify-end h-full gap-2">
    //                 <div class="flex flex-col justify-end items-end h-full">
    //                     <span>
    //                         {{ file.name }}
    //                     </span>
    //                     <span class="text-xs text-gray-500">
    //                         {{ Math.round(file.size / 1024) }} KB
    //                     </span>
    //                 </div>
    //                 <Ico
    //                 type="faFile"
    //                 class="text-gray-600 h-[48px]! w-fit! group-hover:text-gray-400 transition duration-300"/>
    //             </div>
    //             <!-- время / индикатор чтения -->
    //             <div class="h-fit w-full flex items-center gap-1 shrink-0 leading-none"
    //             :class="current_user.id === message.sender_id ? 'justify-start' : 'justify-end'">
    //                 <Ico
    //                 v-if="current_user.id === message.sender_id"
    //                 type="faCheckDouble"
    //                 class="h-[1lh]! w-fit!"
    //                 :class="message.readed ? 'text-blue-600' : 'text-gray-600'"/>
    //                 <span class="text-gray-600 italic">
    //                     {{ date_created_at }}
    //                 </span>
    //             </div>
    //         </a>

    //     </template>

    //     <!-- текст -->
    //     <span
    //     v-if="message.text"
    //     class="bg-gray-100 flex flex-col gap-2 rounded-lg max-w-[40%] px-3! py-2! mb-1! break-words">
    //         {{ message.text }}
    //         <!-- время / индикатор чтения -->
    //         <div class="h-fit w-full flex items-center gap-1 shrink-0 leading-none"
    //         :class="current_user.id === message.sender_id ? 'justify-start' : 'justify-end'">
    //             <Ico
    //             v-if="current_user.id === message.sender_id"
    //             type="faCheckDouble"
    //             class="h-[1lh]! w-fit!"
    //             :class="message.readed ? 'text-blue-600' : 'text-gray-600'"/>
    //             <span class="text-gray-600 italic">
    //                 {{ date_created_at }}
    //             </span>
    //         </div>
    //     </span>
    // </div>


