@use "../abstracts" as *

$theme-dark: (
    // MAIN
    background-color: $gray-100,
    menu-background-color: $blue-700,
    menu-background-color-hover: $blue-500,
    scroll-track-background-color: $blue-700,
    scroll-background-color: $blue-500,
    scroll-background-color-hover: $blue-400,

    // INPUT
    input-border: 1px solid $blue-700,
    input-border-focus: 1px solid $blue-500,
    input-background-color: white,
    input-border-color: $blue-700,

    // TABLE
    table-border: 1px solid $gray-500,
    table-header-background-color: $gray-200,
    table-background-color: $gray-500,
    table-background-color-hover: $gray-400,
    table-row-background-color: $gray-250,
    table-row-background-color-hover: $blue-50,

    // BUTTON
    button-background-color: $blue-700,
    button-background-color-hover: $blue-500,
    danger-button-background-color: $red-800,
    danger-button-background-color-hover: $red-600,

    button-shadow: $blue-shadow-gradient-100,
    danger-button-shadow: $red-shadow-gradient-100,

    // OPTION
    option-background-color-hover: $gray-300,
    option-background-color-selected: $gray-400,

    // FORM
    error-border: 1px solid $red-300,
    error-background-color: $red-400,
)
