@use "../abstracts" as *;

$theme-light: (
    // MAIN
    background-color: white,
    menu-background-color: $blue-300,
    menu-background-color-hover: $blue-200,

    // INPUT
    input-border: 1px solid $blue-300,
    input-background-color: white,
    input-border-color: $blue-300,

    // TABLE
    table-border: 1px solid $gray-300,
    table-background-color: white,
    table-background-color-hover: $gray-200,

    // BUTTON
    button-background-color: $blue-300,
    button-background-color-hover: $blue-200,
    danger-button-background-color: $red-400,
    danger-button-background-color-hover: $red-300,

    button-shadow: $blue-shadow-gradient-100,
    danger-button-shadow: $darkred-shadow-gradient,

    // OPTION
    option-background-color-hover: $gray-300,
    option-background-color-selected: $gray-400,

    // FORM
    error-border: 1px solid $red-300,
    error-background-color: $red-400
)
