@use "../abstracts" as *

$theme-dark: (
    // MAIN
    background-color:                       $blue-600,
    menu-background-color:                  $blue-900,
    menu-background-color-hover:            $blue-500,

    scroll-track-background-color:          $blue-900,
    scroll-background-color:                $blue-500,
    scroll-background-color-hover:          $blue-400,

    text-color:                             $gray-200,

    border-color:                           $gray-400,
    border:                                 1px solid $gray-300,

    // CHAT
    chat-footer-background-color:           $blue-570,
    chat-my-message-background-color:       $blue-550,
    chat-other-message-background-color:    $blue-700,

    // INPUT
    input-background-color:                 $gray-325,

    // TABLE
    table-header-background-color:          $blue-650,
    table-row-background-color:             $blue-660,
    table-row-background-color-hover:       $blue-580,

    // BUTTON
    button-background-color:                $blue-900,
    button-background-color-hover:          $blue-700,
    danger-button-background-color:         $red-800,
    danger-button-background-color-hover:   $red-600,

    button-shadow:                          $blue-shadow-gradient-100,
    danger-button-shadow:                   $red-shadow-gradient-100,

    // OPTION
    option-background-color-hover:          $gray-600,
    option-background-color-selected:       $gray-600,

    // FORM
    error-border:                           1px solid $red-300,
    error-background-color:                 $red-400,

    // APPEAL STATUSES
    appeal-status-new:                    #578bfc,
    appeal-status-closed:                 #20be5a,
    appeal-status-work:                   #dfbb1e,
    appeal-status-reaccepted:             #ff5151,
)
