@use "../abstracts" as *

$theme-dark: (
    // MAIN
    background-color: $blue-600,
    menu-background-color: $blue-900,
    menu-background-color-hover: $blue-500,

    scroll-track-background-color: $blue-900,
    scroll-background-color: $blue-500,
    scroll-background-color-hover: $blue-400,

    text-color: $gray-300,

    border-color: $gray-500,
    border: 1px solid $gray-500,

    // CHAT
    chat-background-color: $gray-325,

    // INPUT
    input-background-color: $gray-325,

    // TABLE
    table-header-background-color: $blue-650,
    table-row-background-color: $blue-660,
    table-row-background-color-hover: $blue-580,

    // BUTTON
    button-background-color: $blue-900,
    button-background-color-hover: $blue-700,
    danger-button-background-color: $red-800,
    danger-button-background-color-hover: $red-600,

    button-shadow: $blue-shadow-gradient-100,
    danger-button-shadow: $red-shadow-gradient-100,

    // OPTION
    option-background-color-hover: $gray-600,
    option-background-color-selected: $gray-600,

    // FORM
    error-border: 1px solid $red-300,
    error-background-color: $red-400,
)
