@use "../abstracts" as *

$theme-dark: (
    // MAIN
    background-color:                           $blue-600,
    menu-background-color:                      $blue-900,
    menu-background-color-hover:                $blue-500,

    scroll-track-background-color:              $blue-900,
    scroll-background-color:                    $blue-500,
    scroll-background-color-hover:              $blue-400,

    text-color:                                 $gray-200,

    border-color:                               $gray-400,
    border:                                     1px solid $gray-300,

    // CHAT
    chat-footer-background-color:               $blue-570,
    chat-my-message-background-color:           $blue-550,
    chat-other-message-background-color:        $blue-700,
    chat-message-not-readed-color:              $blue-400,
    chat-message-readed-color:                  $blue-200,

    // INPUT
    input-background-color:                     $gray-325,
    switcher-background-off-color:              $blue-660,
    switcher-background-on-color:               $blue-900,
    switcher-border-color:                      $gray-400,

    // TABLE
    table-header-background-color:              $blue-650,
    table-row-background-color:                 $blue-660,
    table-row-background-color-hover:           $blue-580,

    // BUTTON
    button-background-color:                    $blue-900,
    button-background-color-hover:              $blue-700,
    danger-button-background-color:             $red-800,
    danger-button-background-color-hover:       $red-600,
    button-shadow:                              $blue-shadow-gradient-100,
    danger-button-shadow:                       $red-shadow-gradient-100,

    // OPTION
    option-background-color-hover:              $gray-600,
    option-background-color-selected:           $gray-600,

    // FORM
    error-border:                               1px solid $red-300,
    error-background-color:                     $red-400,

    // APPEAL STATUSES
    appeal-status-new:                        #578bfc,
    appeal-status-closed:                     #20be5a,
    appeal-status-work:                       #dfbb1e,
    appeal-status-reaccepted:                 #ff5151,

    // NOTIFICATIONS
    notification-not-readed-background-color:   $blue-700,

    // DARK THEME
    warning-background-color:                 #695232,
    warning-border-color:                     #d97706,

    // SELECT-DIVISION
    item-background-color:                      $blue-670,
    item-background-hover-color:                $blue-660,
    item-ico-background-color:                  $blue-800,
    item-ico-color:                             $gray-500,
    item-division-text-color:                   $gray-300,
    item-role-text-color:                       $gray-400,
)
