@use "../abstracts" as *;

$theme-light: (
    // MAIN
    background-color:                          white,
    menu-background-color:                     $blue-300,
    menu-background-color-hover:               $blue-200,

    scroll-track-background-color:             $blue-300,
    scroll-background-color:                   $blue-400,
    scroll-background-color-hover:             $blue-550,

    text-color:                                black,

    border-color:                              $blue-300,
    border:                                    1px solid $blue-300,

    // CHAT
    chat-footer-background-color:              white,
    chat-my-message-background-color:          $blue-20,
    chat-other-message-background-color:       $gray-100,
    chat-message-not-readed-color:             $gray-500,
    chat-message-readed-color:                 $blue-200,

    // INPUT
    input-background-color:                    white,

    // TABLE
    table-header-background-color:             $gray-75,
    table-border:                              1px solid $gray-300,
    table-row-background-color:                $gray-100,
    table-row-background-color-hover:          $blue-10,

    // BUTTON
    button-background-color:                   $blue-300,
    button-background-color-hover:             $blue-200,
    danger-button-background-color:            $red-600,
    danger-button-background-color-hover:      $red-500,
    button-shadow:                             $blue-shadow-gradient-100,
    danger-button-shadow:                      $red-shadow-gradient-100,

    // OPTION
    option-background-color-hover:             $gray-250,
    option-background-color-selected:          $gray-250,

    // FORM
    error-border:                              1px solid $red-700,
    error-background-color:                    $red-600,

    // APPEAL STATUSES
    appeal-status-new:                       #1d4ed8,
    appeal-status-closed:                    #15803d,
    appeal-status-work:                      #a16207,
    appeal-status-reaccepted:                #b91c1c,

    // NOTIFICATIONS
    notification-not-readed-background-color:  $blue-250,
)
