// INPUT
$input-height: 40px
$input-padding: 8px 12px
$input-border-width: 1px
$input-border-radius: 7px
$input-font-size: 16px

// BUTTON
$button-height: 36px
$button-border-radius: 7px

// TABLE
$table-border: 1px solid black
$table-row-height: 45px

// FORM
$border-radius: 6px
